
@import "inc/vars";

.content{
  padding: 35px 0;
}

.single,
.page{
  background: #F8F8F8;
}

.separator{
  width: 100%;
  min-height: 20px;
  background: url('../images/girlanda.png') no-repeat 40% 100%;
  &__new{
    min-height: 40px;
    background: url('../images/girlanda2.png') no-repeat 50% 100%;
  }
}

.border_bottom{
  border-bottom: 1px solid #bebebe;
}

.wp-caption{
  border: none;
}


/* Shortcode 'Text with Icon' */
.text-with-icon{
  background: #FFF;
  line-height: 1.5;
  text-align: center;
  border: none;
  padding: 20px 15px;
  margin: 0;
  position: relative;
  @media only screen and (min-width: 768px){
    padding: 35px 30px;
  }

  >span{
    font-size: 19px;
    font-style: italic;
  }
  cite{
    display: block;
    font-size: 13px;
    &:before{
      display: none;
    }
    span{
      text-transform: uppercase;
      font-style: normal;
    }
  }

  &[class*="icon-"]:before{
    content: "";
    display: block;
    width: 88px;
    height: 88px;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -44px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  &.color-brand{
    &.icon-quote:before{ background-image: url('../images/icons/icon-quote1.png'); }
    &.icon-music:before{ background-image: url('../images/icons/icon-music1.png'); }
    &.icon-tip:before{ background-image: url('../images/icons/icon-tip1.png'); }
    &.icon-dont-forget:before{ background-image: url('../images/icons/icon-dont-forget1.png'); }
    &.icon-brides-advice:before{ background-image: url('../images/icons/icon-dress1.png'); }
    &.icon-fun-fact:before{ background-image: url('../images/icons/icon-fun-fact1.png'); }
  }
  &.color-blue{
    &.icon-quote:before{ background-image: url('../images/icons/icon-quote2.png'); }
    &.icon-music:before{ background-image: url('../images/icons/icon-music2.png'); }
    &.icon-tip:before{ background-image: url('../images/icons/icon-tip2.png'); }
    &.icon-dont-forget:before{ background-image: url('../images/icons/icon-dont-forget2.png'); }
    &.icon-brides-advice:before{ background-image: url('../images/icons/icon-dress2.png'); }
    &.icon-fun-fact:before{ background-image: url('../images/icons/icon-fun-fact2.png'); }
  }

  &.no-image{
    margin: 15px 0;
    padding-top: 120px;
    @media only screen and (min-width: 768px){
      padding-left: 150px;
      padding-top: 20px;
    }

    &[class*="icon-"]:before{
      @media only screen and (min-width: 768px){
        top: 50%;
        left: 30px;
        margin-left: 0;
        margin-top: -44px;
      }
    }
  }
}

.text-with-image{
  display: flex;
  flex-flow: column;
  margin: 15px 0;
  @media only screen and (min-width: 768px){
    flex-flow: row;
  }
  .image{
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    @media only screen and (min-width: 768px){
      width: 55%;
    }
  }

  @media only screen and (min-width: 768px){
    &.image-left{
      .image{
        order: 1;
      }
      .text-with-icon{
        order: 2;
      }
    }
    &.image-right{
      .image{
        order: 2;
      }
      .text-with-icon{
        order: 1;
      }
    }
  }

  .text-with-icon{
    padding-top: 120px;
    @media only screen and (min-width: 768px){
      width: 45%;
    }
  }
}

/* Breadcrumbs via Breadcrumbs NavXT */
.breadcrumbs{
  color: $main_color;
  font-size: 11px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
  a{
    &:hover{
      color: inherit;
      text-decoration: underline;
    }
  }
  .home{
    font-weight: bold;
  }
  span{
    & > span{display: none;}
  }
}


/* Pagination */
.pagination_block{
  text-align: center;
}
ul.pagination{
  display: inline-block;
  li{
    font-size: 13px;
    a,
    .current{
      display: block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      padding: 0;
    }
    a{
      color: #000;
    }
    .current{
      color: #FFF;
    }
    .next,
    .prev{
      width: auto;
      height: 30px;
      line-height: 30px;
    }
    .next{
      padding-right: 22px;
      background: transparent url('../images/icon-arrow-right.png') no-repeat 100% 50% !important;
    }
    .prev{
      padding-left: 22px;
      background: transparent url('../images/icon-arrow-left.png') no-repeat 0 50% !important;
    }

    &:hover{
      a:not([class="next"]),
      a:not([class="prev"]){
        background-color: $main_color_hover;
        color: #fff;
      }
      .prev,
      .next{
        color: #000 !important;
        text-decoration: underline;
      }
    }
  }
}


/*********************
SIDEBAR
*********************/
.sidebar{
  padding-top: 40px;
  margin-bottom: 30px;
}

.widget{
  margin-bottom: 30px;
  h5{
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  ul{
    list-style-type: none;
    margin-left: 0;
    li{
      border-bottom: 1px solid #ebeae9;
      padding-left: 10px;
      position: relative;
      a{
        display: block;
        font-size: 13px;
        line-height: 19px;
        padding: 7px 0;
        &:before{
          content: "•";
          color: $main_color;
          display: block;
          width: 4px;
          height: 4px;
          line-height: 4px;
          text-align: center;
          font-size: 14px;
          position: absolute;
          left: 0;
          top: 14px;
        }

        &:hover{
          color: inherit;
          text-decoration: underline;
