
.submit-wedding{
	.gform_wrapper{
		.gform_heading{display: none;}
		.gform_body{width: 100% !important;}
		h2.gsection_title{
			font-family: $head_font;
			font-size: 17px;
			letter-spacing: .5px !important;
			font-style: italic;
			border-bottom: 2px solid #ae9760;
			padding-bottom: 6px !important;
		}
		.gsection{
			padding-bottom: 0;
			border-bottom: none;
			padding-left: 40px;
			background: url('../images/list_elem.png') no-repeat;
			background-position: 0 0;
			padding: 8px 0 8px 43px;
			margin-bottom: 12px;
			position: relative;
			&:before{
				position: absolute;
				content: "";
				width: 24px;
				height: 12px;
				top: 13px;
				left: 6px;
				background: url('../images/bow.png') no-repeat;
				background-size: contain;
			}
		}
		.top_label div.ginput_container{
			margin-top: 0;
		}
		.top_label {
			.ginput_container_email{
				margin-bottom: 4px;
			}
			.gfield_label{
				font-weight: 400;
				letter-spacing: -.3px;
				line-height: 1.7;
				margin-bottom: 8px;
				&:empty{display: none;}
			}
			li.gfield.gf_left_half,
			li.gfield.gf_right_half{
				max-width: 380px;
				@media(max-width:640px){
					max-width: 100%;
				}
			}
		}
		ul.gform_fields li.gfield{
			padding-right: 0;
			margin-top: 0;
			hr{
				margin: 13px 0;
			}
			&.regular{
				.gfield_label{
					font-weight: 600;
				}
			}
			&.hidden{
				.gfield_label {display: none;}
			}
			input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){
				max-width: 235px;
				height: 31px;
				line-height: 31px;
				background: #E9E5DA;
				border: none;
				outline:none;
				font-size: 14px;
			    font-weight: 400;
			    padding: 0 11px !important;
			    margin-bottom: 9px;
				@media(max-width:640px){
					max-width: 100%;
					width: 100%;
				}
			}
			textarea{
				background: #E9E5DA;
				padding: 11px !important;
				border: none;
				outline:none;
				height: 152px;
			}
		}
		.gform_footer{
			text-align: left;
				@media(max-width:640px){
					text-align: center;
					input:not([type=radio]):not([type=checkbox]):not([type=image]):not([type=file]){
						width: auto;
						display: inline-block;
					}
				}
			input[type="reset"]{
				color: $main_color;
				background:transparent;
				&:hover{
					background:transparent;
					text-decoration: underline;
				}
			}
		}
	}


	.likebtn_container{display: none;}
}



.submit-wedding {
	.contact__banner{
		float: left;
		width: 100%;
		padding: 9px;
		background: #FFF;
		margin: 10px 0 30px;
		.image{
			width: 34%;
			float: left;
			background-size: cover;
			background-position: 0 50%;
			position: relative;
			img{
				display: none;
			}
			@media (max-width:767px){
				width: 100%;
				text-align: center;
				background: none !important;
				img{
					display: inline-block;
				}
			}
			&:before{
				position: absolute;
				content: "";
				top: 0;bottom: 0;right: 0;left: 0;
				// background-image: linear-gradient(to left, #ffffff,
				// 	rgba(255, 255, 255, 0.32),
				// 	rgba(30, 87, 153, 0),
				// 	rgba(255, 255, 255, 0));
				background: linear-gradient(to right,
					rgba(255,255,255,0) 46%,
					rgba(255,255,255,0) 48%,
					rgba(255,255,255,1) 100%);
				@media (max-width:767px){display: none;}
			}
		}
		.content{
			width: 66%;
			float: left;
			padding: 15px 0 5px;
			@media (max-width:767px){
				width: 100%;
			}
			&.full{
				width: 100%;
			}
			p{
				margin-bottom: 28px;
				letter-spacing: -.25px;
				a{
					color: $main_color;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}
	.simple_list{
		margin-bottom: 18px;
		&.gform_wrapper .gsection{
			margin-bottom: 0;
		}
		.gform_fields{
			margin-bottom: 7px !important;
			li:not(.gsection){
				border-bottom: 1px solid #bebebe;
				position: relative;
				padding: 9px 0 10px 43px;
				line-height: 1.55;
				&:before{
					position: absolute;
					content: "";
					width: 6px;
					height: 6px;
					border-radius: 50%;
					background: $main_color;
					top: 16px;
					left: 15px;
				}
				&:last-child{
					border-bottom: none;
				}
			}
		}
	}
	.gform_wrapper{
	.chosen-container{
		max-width: 251px;
		margin-bottom: 27px;
		margin-top: 5px;
		.chosen-drop{
			border-color: $main_color;
			margin: 0;
		}
		.chosen-search{
			display: none;
		}
		&-single {
			padding: 0;
			.chosen-single{
				background:transparent;
				border:none;
				border-bottom:1px solid $main_color;
				border-radius: 0;
				box-shadow: none;
				div{
					width: 24px;
					b{
						background: url(../images/icon-arrow-down.png) no-repeat 50%;
						width: 22px;
						height: 17px;
						background-size: contain;
					}
				}
			}
		}
		&-active.chosen-with-drop {
			.chosen-single{
				background:transparent;
				border:none;
				border-bottom:1px solid $main_color;
				border-radius: 0;
				box-shadow: none;
				div{
					b{
						background-position: 0;
						transform: rotate(180deg);
					}
				}
			}
		}

		.chosen-results {
			padding: 0;
			margin: 0;
			// border: 1px solid $main_color;
			li.highlighted{
				background: $main_color;
			}
		}
	}
}
}
